/* open-sans-regular - latin_cyrillic */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/open-sans-v23-latin_cyrillic-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/open-sans-v23-latin_cyrillic-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-600 - latin_cyrillic */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: local(""),
    url("../fonts/open-sans-v23-latin_cyrillic-600.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/open-sans-v23-latin_cyrillic-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-700 - latin_cyrillic */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: local(""),
    url("../fonts/open-sans-v23-latin_cyrillic-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/open-sans-v23-latin_cyrillic-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* raleway-300 - latin_cyrillic */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  src: local(""),
    url("../fonts/raleway-v22-latin_cyrillic-300.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/raleway-v22-latin_cyrillic-300.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/roboto-v27-latin_cyrillic-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/roboto-v27-latin_cyrillic-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

* {
  box-sizing: border-box;
}

body {
    width: 1440px;
  margin: 0 auto;
}

.container {
       margin: 0 auto;
    border: 1px solid 
}

.header {

  color: #fbf2da;
  background-color: #152b3c;
}

.header-wrap {
  display: flex;
  align-items: center;
}

.main-nav {
    padding: 26px 81px;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.main-logo {
  display: block;
  margin-right: auto;
  margin-left: 81px;
  font-family: "Raleway", sans-serif;
  font-size: 42px;
  line-height: 49px;
  color: inherit;
  text-decoration: none;
}

.header-phone {
    margin-left: 124px;
    margin-right: 81px;
  font-size: 28px;
  line-height: 38px;
  color: inherit;
  text-decoration: none;
}

.main-nav ul {
  display: flex;
  padding-left: 0px;
  list-style: none;
  justify-content: space-between;
}

.main-nav li {
  margin: 0 5px;
}
.main-nav a {
  display: block;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  color: inherit;
  text-decoration: none;
}

.main-nav a:hover {
  color: #d46240;
}

.promo {
   
    background-image: url("images/promo-background.png");
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
}

.promo-wrap {
    display: flex;
    align-items: center;
}


.promo-info {
 padding: 0;
 
}

.promo-title {
font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 116px;
  line-height: 136px;
  color: #fff;
  text-align: center;
}

.promo-text {
  margin: 0 170px 235px 170px;
    font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  text-align: center;
}

.classes {
    
}

.classes-wrap {
    display: flex;
}

.classes-info {
  

}
.classes h2 {
    margin-top: 100px;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 58px;
    line-height: 68px;
    text-align: center;
    color: #d46240;
  }

.classes-list {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    padding-left: 16px;
    margin: 0;
    list-style: none;

}


.classes-item {
    


}


.classes-text {



}



.btn {
    display: inline-block;
    min-width: 200px;
    padding: 9px;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 34px;
    text-decoration: none;
    border: 3px solid #d46240
    border-radius: 5px;
    background-color: #d46240;
    color: #fff;
    cursor: pointer;


}
.slider {
}

.locations {
}

.team {
}

.contacts {
}

.footer {
}

.footer-content {
}
